<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> amazon </title>
  <style>
.footer1
{
    background-color:gray;
    padding:20px;

}
.footer2
{
    background-color:green;
    padding:20px;
    color:yellow;

}
.f1
{
	font-size:18px;
	color:white;

}
.f2
{
	font-size:18px;
	color:white;

}
.f3
{
	font-size:18px;
	color:white;

}
.f4
{
	font-size:18px;
	color:white;

}

  </style>


</head>
<body>
<div class="footer1">
<table  width="100%">
<tr>
<td>
<div class="f1">
    Get to Know Us <br>
About Us <br>
Careers <br>
Press Releases <br>
Amazon Science
 </div>
      </td>
<td>
<div class="f2">
    Connect with Us <br>
Facebook <br>
Twitter <br>
Instagram
</div>
</td>
<td>
<div class="f3">
Make Money with Us <br>
Sell on Amazon <br>
Sell under Amazon Accelerator <br>
Amazon Global Selling <br>
Become an Affiliate <br>
Fulfilment by Amazon <br>
Advertise Your Products <br>
Amazon Pay on Merchants
</div>
</td>
<td>
    <div class="f4">
        Let Us Help You <br>
COVID-19 and Amazon <br>
Your Account <br>
Returns Centre <br>
100% Purchase Protection <br>
Amazon App Download <br>
Amazon Assistant Download <br>
Help
        </div>
</td>
</tr>
</table>
</div>
<div class="footer2">
    <marquee> Developer by VIGNESH @ SRM INFOTECH,Pondicherry </marquee>
</div>


</body>
</html>